MONGO_HOST=mongodb://127.0.0.1:27017/print-order-reception-serviceDB?readPreference=primary&w=majority&retryWrites=false&directConnection=true
TEST_MONGO_HOST=mongodb://127.0.0.1:27017/test-databaseprint-order-reception
# to get a string like this run:  "09d25e094faa6ca2556c818166b7a9563b93f7099f6f0f4caa6cf63b88e8d3e7"
# openssl rand -hex 32
APP_JWT_SECRET=my-developersecret
APP_PORT=3001

SENTRY_DSN=your_sentry_dns

